[submodule "themes/twenty-twenty-hugo"]
	path = themes/twenty-twenty-hugo
	url = https://github.com/themefisher/twenty-twenty-hugo.git
[submodule "themes/hugo-loremipsum"]
	path = themes/hugo-loremipsum
	url = https://github.com/martignoni/hugo-loremipsum.git
